<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @auction.title %>
</p>

<p>
  <strong>Begins:</strong>
  <%= @auction.begins %>
</p>

<p>
  <strong>Ends:</strong>
  <%= @auction.ends %>
</p>
